/* You can add global styles to this file, and also import other style files */
html {
  background-image: url("src/assets/img/background-img.jpg");
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none !important;
}
